.form-control:focus {
    border-color: rgb(1, 1, 50) !important;
    box-shadow: inset 0 1px 1px rgba(1, 1, 50, 0.075), 
                0 0 8px rgba(1, 1, 50, 0.6) !important;
  }

.btn-primary {
    background-color: rgb(1, 1, 50) !important;
    border-color: rgb(1, 1, 40) !important;
}